.container {
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    width: 400px;
    align-items: center;
}



.icon {
    display: flex;
    gap: 5px;
    align-items: center;
    color: rgb(57, 31, 164);
}


.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
}

.contacts {
    display: flex;
    flex-direction: column;
}

.icon {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.icon svg {
    margin-right: 8px;
}